<footer class=" bg-indigo-800 pt-3 pb-3 text-white">
    <div class="container w-3/4 mx-auto flex justify-between">
        <div class="flex self-center items-center">
            <img src="../../../assets/img/busqueda-de-talentos.png"  width="60">
            <h1 class="text-2xl ms-2">TalentHub</h1>
        </div>
        <div class="flex  items-center">
            <h4 class="text-center text-lg"><a href="https://juan-pregliasco.web.app" target="_blank">
                <span class="text-indigo-300 ms-1 hover:">Juan Pregliasco</span>
            </a></h4>
        </div>
    </div>
</footer>

