.centrar-y{
    transform: translateY(-50%);
}

.h-85vh{
    height: 85vh;
    overflow-y: scroll;
}

.modal-open{
    background-color: rgba(0, 0, 0,.8)!important;
    z-index: 1000;
    overflow: hidden;
}

