<div class="flex md:flex-row flex-col">
    <div class="flex md:flex-col flex-col-reverse md:flex-shrink-0 md:w-2/5 xl:w-1/3md:h-screen">
        <div data-aos="fade-in" data-aos-duration="1500">
            <app-menu></app-menu>
        </div>
        <div data-aos="fade-in" data-aos-duration="1500" >
            <app-recommended></app-recommended>
        </div>
    </div>
    <div class="flex-grow mt-6">
        <router-outlet></router-outlet>
    </div>
</div>
<app-footer class="md:absolute md:bottom-0 w-screen"></app-footer>