<div class="py-2 px-4 text-center flex flex-col">
    <div *ngIf="historicalMessages$ | async as messages">
        <div *ngFor="let message of messages">
            {{message.content}}
        </div>
    </div>
    <!-- Mensajes de tiempo real -->
    <div *ngFor="let item of messageList">
      {{item.content}}
    </div>
    <div class="flex justify-center">
      <input type="text" placeholder="Escriba su mensaje..."
      class="w-2/3 rounded-full px-4 py-2 bg-white border-none outline-none focus:ring-2 focus:ring-indigo-500"
      [(ngModel)]="messageInput">
    <button class="ms-4" (click)="sendMessage()" [disabled]="this.profileId == undefined ">
      <img src="../../../assets/img/dm.png" class="h-10 w-10" alt="">
    </button>
    </div>
  
  </div>