<div class="h-screen bg-gradient-to-br from-indigo-500 to-indigo-950 absolute top-0 left-0 w-full"></div>
<div class="w-full h-screen grid grid-cols-2">
    <div class="z-10 mx-auto w-3/4 mt-20">
        <h1 class="text-5xl text-white text-center">Talent<span class="text-indigo-300 font-medium">H</span>ub</h1>
        <div class="p-4 rounded-md bg-white text-center border-2 border-violet-900 mt-10">
            <h1 class="text-2xl text-indigo-900 mt-2">Autenticarse</h1>
            <form class="text-start p-2 animate-fadeIn" *ngIf="login">
                <div class="mt-4 text-left">
                    <label for="username" class="block text-sm font-medium text-gray-600">Nombre de Usuario</label>
                    <input type="text" class="rounded-md border border-color-gray p-2 w-full transition duration-500
         focus:border-violet-800 focus:outline-none mt-1" placeholder="Ingrese el nombre de usuario">
                </div>
                <div class="mt-4 text-left">
                    <label for="password" class="block text-sm font-medium text-gray-600">Contraseña</label>
                    <input type="password" class="rounded-md mt-1 w-full border border-color-gray p-2 transition duration-500
         focus:border-violet-800 focus:outline-none" placeholder="Ingrese la contraseña">
                </div>
                <button *ngIf="login" type="submit" class="bg-indigo-500 text-white mt-8 p-2 rounded-md hover:bg-indigo-600 
    w-full transition-colors duration-300">Iniciar Sesión</button>
            </form>
            <form class="text-start p-2 animate-fadeIn" *ngIf="!login" [formGroup]="registerForm"
                (ngSubmit)="registerUser()">
                <div class="mt-4 text-left">
                    <label for="username" class="block text-sm font-medium text-gray-600">Nombre de Usuario</label>
                    <input type="text" class="rounded-md border border-color-gray p-2 w-full transition duration-500
         focus:border-violet-800 focus:outline-none mt-1" placeholder="Ingrese el nombre de usuario"
                        [ngClass]="{'border-red': registerForm.get('username')?.invalid && registerForm.get('username')?.touched }"
                        formControlName="username" minlength="4" maxlength="15">
                    <div *ngIf="registerForm.get('username')?.hasError('required') &&
                    registerForm.get('username')?.touched" class="text-sm text-red-500 mt-2">
                        El username es obligatorio.
                    </div>
                    <div *ngIf="registerForm.get('username')?.hasError('minlength') 
                    && registerForm.get('username')?.touched" class="text-sm text-red-500 mt-2">
                        El username debe tener 4 o mas caracteres.
                    </div>
                </div>
                <div class="mt-4 text-left">
                    <label for="username" class="block text-sm font-medium text-gray-600">Email</label>
                    <input type="text" class="rounded-md border border-color-gray p-2 w-full transition duration-500
         focus:border-violet-800 focus:outline-none mt-1" placeholder="Ingrese su correo" formControlName="email" email=""
         [ngClass]="{'border-red': registerForm.get('email')?.invalid && registerForm.get('email')?.touched }">
                    <div *ngIf="registerForm.get('email')?.hasError('required') &&
         registerForm.get('email')?.touched" class="text-sm text-red-500 mt-2">
                        El email es obligatorio
                    </div>
                    <div *ngIf="registerForm.get('email')?.hasError('email') &&
         registerForm.get('email')?.touched" class="text-sm text-red-500 mt-2">
                        El email es incorrecto
                    </div>
                </div>
                <div class="mt-4 text-left">
                    <label for="password" class="block text-sm font-medium text-gray-600">Contraseña</label>
                    <input type="password" class="rounded-md mt-1 w-full border border-color-gray p-2 transition duration-500
         focus:border-violet-800 focus:outline-none" placeholder="Ingrese la contraseña" formControlName="password" minlength="6"
         [ngClass]="{'border-red': registerForm.get('password')?.invalid && registerForm.get('password')?.touched }">
                </div>
                <div *ngIf="registerForm.get('password')?.hasError('required') &&
                registerForm.get('password')?.touched" class="text-sm text-red-500 mt-2">
                    La contraseña es obligatoria
                </div>
                <div *ngIf="registerForm.get('password')?.hasError('minlength') 
                && registerForm.get('password')?.touched" class="text-sm text-red-500 mt-2">
                    El contraseña debe tener 6 o mas caracteres
                </div>
                <div class="mt-4 text-left">
                    <label for="password" class="block text-sm font-medium text-gray-600">Confirmacion de la
                        contraseña</label>
                    <input type="password" class="rounded-md mt-1 w-full border border-color-gray p-2 transition duration-500
         focus:border-violet-800 focus:outline-none" placeholder="Confirme la contraseña"
                        formControlName="passwordConfirm" (input)="comparePasswords()"
                        [ngClass]="{'border-red': registerForm.get('passwordConfirm')?.invalid && registerForm.get('passwordConfirm')?.touched }"
                        [ngClass]="{'border-red':  !isEqual && registerForm.get('passwordConfirm')?.touched }">
                        
                        <div *ngIf="
                        registerForm.get('passwordConfirm')?.touched && registerForm.get('passwordConfirm')?.hasError('required')"
                         class="text-sm text-red-500 mt-2">
                            Tenes que confirmar la contraseña
                        </div>
                        <div *ngIf="registerForm.get('passwordConfirm')?.touched && !isEqual" class="text-sm text-red-500 mt-2">
                            Las contraseñas no coinciden
                        </div>
                </div>
                <div class="mt-4 text-left">
                    <label for="role" class="block text-sm font-medium text-gray-600">¿Que buscas?</label>
                    <select id="role" name="role" class="form-select rounded-md mt-1 w-full 
        border border-color-gray p-2 transition duration-500 
        focus:border-violet-800 focus:outline-none " formControlName="role">
                        <option value="EMPLOYEE">Ser contratado</option>
                        <option value="EMPLOYEER">Contratar</option>
                    </select>
                </div>
                <button type="submit" class="bg-indigo-500 text-white mt-8 p-2 rounded-md hover:bg-indigo-600 
    w-full transition-colors duration-300" [disabled]="registerForm.invalid"
    [ngClass]="{'disabled': registerForm.invalid || !isEqual}">Registrarse</button>
            </form>
            <p class="mt-4" *ngIf="login">No tiene una cuenta? <span class="ms-2 cursor-pointer text-indigo-500
        transition-colors duration-300 hover:text-indigo-800" (click)="toggleLogin()">Registrarse</span></p>
            <p class="mt-4" *ngIf="!login">Ya tiene una cuenta? <span class="ms-2 cursor-pointer text-indigo-500
            transition-colors duration-300 hover:text-indigo-800" (click)="toggleLogin()">Iniciar sesion</span></p>
        </div>
    </div>
    <div>
        <div class="h-full">
            <img src="../../../assets/img/banner.jpg" class="w-max h-screen object-center object-cover grayscale"
                alt="">
        </div>
    </div>
</div>
<section class="bg-indigo-900 text-white pt-8">
    <div class="container mx-auto w-3/4">
        <h2 class="text-center text-4xl ">Acerca de</h2>
        <div class="grid grid-cols-2 mt-16">
            <div class="p-4 border bg-indigo-950 transition-colors duration-300 hover:bg-indigo-900">
                <img src="../../../assets/img/perfil.svg" class="w-max" alt="">
            </div>
            <div class="self-center ps-8">
                <h1 class="text-center text-3xl text-indigo-300">Cree su portafolio y sea contratado</h1>
                <p class="text-center mt-4 text-xl  italic ">Cree su perfil, muestre sus habilidades, proyectos,
                    estudios,
                    contacta con empleadores y sea contratado.
                </p>
            </div>
        </div>
        <div class="grid grid-cols-2 mt-16">
            <div class="self-center pe-8">
                <h1 class="text-center text-3xl text-indigo-300">Chat en tiempo real</h1>
                <p class="text-center mt-4 text-xl italic ">La plataforma posee un chat en tiempo real, donde puede
                    contactar a potenciales
                    clientes o potenciales contratadores.
                </p>
            </div>
            <div class="p-4 border bg-indigo-950 transition-colors duration-300 hover:bg-indigo-900">
                <img src="../../../assets/img/contacto.svg" class="w-max" alt="">
            </div>
        </div>
        <div class="grid grid-cols-2 mt-16 pb-16">
            <div class="p-4 border bg-indigo-950 transition-colors duration-300 hover:bg-indigo-900">
                <img src="../../../assets/img/contratar.svg" class="w-max position-center" alt="">
            </div>
            <div class="self-center ps-8">
                <h1 class="text-center text-3xl text-indigo-300">Contrata a los mejores profesionales</h1>
                <p class="text-center mt-4 text-xl  italic ">Busca profesionales segun habilidades, contactalos
                    mediante el chat, y contratalos.
                </p>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>