<div class="container  mt-6" data-aos="fade-down" data-aos-duration="1500">
    <div class="pb-1 rounded-md bg-white text-center me-16 h-85vh ">
        <div class="p-0 h-40 bg-indigo-400 relative">
            <div class="h-28 w-28  absolute left-5 top-1/2 centrar-y">
                @if(profile.image === null){
                <img src="../../../../assets/img/anonimo.png" class="h-max object-cover  rounded-full" alt="">
                }@else {
                <img src="../../../../assets/img/anonimo.png" class="h-max object-cover rounded-full" alt="">
                }
            </div>
        </div>
        <div class="ps-4 pe-4 mt-4">
            <div class="flex justify-between">
                <div class="flex">
                    <h1 class="text-left text-2xl me-2">{{profile.name}}</h1>
                    <div class="w-8 h-8 border rounded-full flex justify-center items-center cursor-pointer"
                        (click)="editName()">
                        <img src="../../../../assets/img/lapiz.png" class="w-4 h-4" alt="">
                    </div>
                </div>
                <div class="flex items-center">
                    <h4 class="text-left mt-2 text-lg italic">
                        @if(profile.occupations === null){
                        Tu ocupacion aqui
                        }@else {
                        {{profile.occupations}}
                        }
                    </h4>
                    <div class="w-8 h-8 ms-3 border rounded-full flex justify-center items-center cursor-pointer"
                        (click)="editOccupation()">
                        <img src="../../../../assets/img/lapiz.png" class="w-4 h-4" alt="">
                    </div>
                </div>
            </div>
            <h2 class="mt-6 text-center text-xl text-indigo-500 text-center">
                Sobre mi
            </h2>
            <p class="bold text-md mt-3 leading-7">
                @if(profile.description === null){
                Escribe una descripcion sobre ti, sobre lo que haces, describa sus habilidades,
                experiencias laborales, y todo lo que crea relevante para llamar la atencion de un recluter.
                }@else {
                {{profile.description}}
                }
            </p>
            <div class="flex justify-end">
                <div class="w-8 h-8 border rounded-full flex justify-center items-center cursor-pointer"
                    (click)="editDescription()">
                    <img src="../../../../assets/img/lapiz.png" class="w-4 h-4" alt="">
                </div>
            </div>
            <div class="skills relative">
                <h2 class=" text-center text-xl text-indigo-500 text-center">
                    Habilidades
                </h2>
                @if(profile.skills.length === 0){
                <div class="flex justify-around mt-4">
                    <div class="p-4 rounded-md bg-white text-center shadow-md">
                        <img src="../../../../assets/img/html-5.png" class="h-24 w-24" alt="">
                        <h1 class="mt-1 text-lg italic text-indigo-300">HTML 5</h1>
                    </div>
                    <div class="p-4 rounded-md bg-white text-center shadow-md">
                        <img src="../../../../assets/img/css-3.png" class="h-24 w-24" alt="">
                        <h1 class="mt-1 text-lg italic text-indigo-300">CSS 3</h1>
                    </div>
                    <div class="p-4 rounded-md bg-white text-center shadow-md">
                        <img src="../../../../assets/img/angular.png" class="h-24 w-24" alt="">
                        <h1 class="mt-1 text-lg italic text-indigo-300">Angular</h1>
                    </div>
                </div>
                <p class="mt-6 italic">Estas habilidades son de muestra, se eliminaran cuando agregue una habilidad a su
                    perfil</p>
                }@else{
                <div class="flex justify-around mt-4 flex-wrap">
                    <div class="p-4 w-1/4 mb-4 me-2 rounded-md bg-white text-center shadow-md relative"
                        *ngFor="let skill of profile.skills">
                        <img [src]="skill.image" class="h-24 w-24 mx-auto" alt="">
                        <h1 class="mt-1 text-lg italic text-indigo-300">{{skill.title}}</h1>
                        <img src="../../../../assets/img/borrar.png" alt="" (click)="deleteSkill(skill.skillId)"
                         class="h-6 w-6 me-1 mb-1 cursor-pointer absolute right-0 bottom-0">
                    </div>
                </div>
                }
                <div class="absolute right-0">
                    <div class="w-8 h-8 border rounded-full flex justify-center items-center cursor-pointer">
                        @if(!addSkill){
                        <img src="../../../../assets/img/agregar.png" (click)="formSkill()" class="w-max z-20" alt="">
                        }@else {
                        <img src="../../../../assets/img/cerca.png" (click)="closeFormSkill()" class="w-max z-20"
                            alt="">
                        }
                    </div>
                </div>
                <div class="mt-6 mb-16 animate-fadeIn" *ngIf="addSkill">
                    <form>
                        <div class="text-center">
                            <h1>Nueva habilidad</h1>
                            <select id="skill" name="skill" class="form-select rounded-md mt-1 w-6/12 
                border border-color-gray p-2 transition duration-500 
                focus:border-violet-800 focus:outline-none" [formControl]="skill">
                                <option *ngFor="let skill of skills" [value]="skill.title">{{skill.title}}</option>
                            </select>
                            <button (click)="saveSkill($event)" class="bg-indigo-500 text-white mt-4 p-2 rounded-md hover:bg-indigo-600  
                            w-1/3 transition-colors duration-300 block mx-auto">Agregar</button>
                        </div>
                    </form>
                </div>
            
            </div>
            <h2 class="mt-8 text-center text-xl text-indigo-500 text-center">
                Proyectos
            </h2>
            @if(profile.projects.length === 0){
            <div class="flex justify-around mt-4">
                <div class="rounded-md bg-white text-center shadow-md">
                    <img src="../../../../assets/img/ecommerce.jpg" class="w-56" alt="">
                    <div class="p-2">
                        <h1 class="mt-1 text-lg italic text-indigo-300 text-center">E-commerce</h1>
                        <button class="bg-indigo-500 text-white mt-4 p-2 rounded-md hover:bg-indigo-600 
                        w-full transition-colors duration-300">Ver mas</button>
                    </div>
                </div>
                <div class="rounded-md bg-white text-center shadow-md">
                    <img src="../../../../assets/img/examenes.png" class="w-56" alt="">
                    <div class="p-2">
                        <h1 class="mt-1 text-lg italic text-indigo-300 text-center">Plataforma de examenes</h1>
                        <button class="bg-indigo-500 text-white mt-4 p-2 rounded-md hover:bg-indigo-600 
                            w-full transition-colors duration-300">Ver mas</button>
                    </div>
                </div>
                <div class="rounded-md bg-white text-center shadow-md">
                    <img src="../../../../assets/img/blog.png" class="w-56" alt="">
                    <div class="p-2">
                        <h1 class="mt-1 text-lg italic text-indigo-300 text-center">Blog</h1>
                        <button class="bg-indigo-500 text-white mt-4 p-2 rounded-md hover:bg-indigo-600 
                            w-full transition-colors duration-300">Ver mas</button>
                    </div>
                </div>
            </div>
            <p class="mt-6 italic">Estas proyectos son de muestra, se eliminaran cuando agregue un proyecto a su perfil
            </p>
            }@else{

            }
        </div>
    </div>
</div>