<div class="animate-fadeIn md:ms-8 md:me-8 ms-2 me-2">
    <div class="p-4 rounded-md bg-white text-center border-2 border-violet-900 mt-6">
        <nav class="flex flex-col">
            <div class="flex justify-center mt-4 cursor-pointer border-2 rounded-lg items-center 
            p-1 bg-indigo-100 transition-colors duration-300 hover:bg-indigo-200" routerLink="profile">
                <img src="../../../assets/img/usuario.png"  width="40" alt="">
                <li class="list-none ms-3"><a>Perfil</a></li>
            </div>
            <div class="flex justify-center mt-4 cursor-pointer border-2 items-center 
            rounded-lg p-1 bg-indigo-100 transition-colors duration-300 hover:bg-indigo-200" routerLink="search" >
                @if(role === "EMPLOYER"){
                    <img src="../../../assets/img/desarrollador.png" width="40" alt="">
                    <li class="list-none ms-3"><a >Desarrolladores</a></li>
                }@else {
                    <img src="../../../assets/img/gerente.png" width="40" alt="">
                    <li class="list-none ms-2"><a >Recluters</a></li>
                }
            </div> 
            <div class="flex justify-center mt-4 cursor-pointer border-2 
            items-center rounded-lg p-1 bg-indigo-100 transition-colors duration-300 hover:bg-indigo-200" [routerLink]="'chat/'">
                <img src="../../../assets/img/charla.png" width="40" alt="">
                <li class="list-none ms-3"><a>Chat</a></li>
            </div>
            <div class="mt-8 text-left">
                <li class="list-none">
                    <a class="bg-indigo-400 text-white mt-8 p-2 rounded-md hover:bg-indigo-600 
                    transition-colors duration-300 cursor-pointer" (click)="logout()">Cerrar sesion</a>
                </li>
            </div>
           
        </nav>
    </div>
</div>